.flex {
  display: flex;
}

.box1 {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  background-color: cyan;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: #ccc;
}

.demo-list .demo {
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
